
header{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 44px;
   }
   header h1{
       text-align: center;
       padding:20px 0px 16px;
   }
   header nav ul{
      display: flex;
      margin-bottom: 44px;
      justify-content: center;
      border-bottom: 8px solid purple;
      border-top:8px solid purple;
      padding: 12px 0px 10px;
   }
   header nav ul li{
       margin: 0 40px;
       font-size: 22px;
       font-weight: bold;
   }
   header nav ul li a:hover{
       background-color: purple;
   }
main {
    width: 1270px;
    padding: 10px;
    background-color: white;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    text-align: center;
    color: #333;
}

.season-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.season-navigation button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
table {
    width: 1280px;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
    color: #000000;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: skyblue;
}
footer{
    background-color: #523f2e;
    color:#ffffff;
    text-align:center;

}
